<div class="header">
  <div class="avatar">
    <a href="/">
      <!-- 头像取消懒加载，添加no-lazy -->
      <% if (config.lazyload && config.lazyload.enable) { %>
        <img no-lazy src="<%- theme.avatar %>" alt="">
      <% } else { %>
        <img src="<%- theme.avatar %>" alt="">
      <% } %>
    </a>
    <div class="nickname">
      <a href="/"><%- config.title %></a>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <%
        var pathname = ('/' + path).replace(/((index)?\.html)$/, '')
        for(let item of theme.navbar) {
          if (item.enable) {
      %>
        <li class="nav-item <%- pathname == item.path ? 'active' : '' %>">
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
  </div>
</div>
